@model IEnumerable<appmom3.Models.Borrow>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="creatediv">
    <a class="create" asp-action="Create">Create New</a>
    </div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cd.Name)
            </td>
            <td>
                <a class="edit" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="details" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="delete" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
